<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <span class="shadow ">Home</span>
        </a>
    </div>
</nav>

<div class="container">

    <div class="container-sm p-5">
        <h1 class="d-flex justify-content-center">Users</h1>
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th>id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
                <th>Enable</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody th:each="user : ${admin}">
            <td th:text="${user.user_id}"/>
            <td th:text="${user.username}"/>
            <td th:text="${user.password}"/>
            <td th:text="${user.role}"/>
            <td th:text="${user.enable}"/>
            <td>
                <a th:href="@{/admin/delete(adminId = ${user.user_id})}"
                   class="btn btn-danger btn-sm" onclick="if (!(confirm('Are You Sure ?'))) return false">Delete</a>
            </td>
            </tbody>
        </table>
    </div>
    <br><br><hr>

    <div class="container-fluid pt-2">
        <div class="d-flex justify-content-center">
            <a th:href="@{/add-admin}" class="btn btn-light border col-2 shadow bg-body mx-3">
                <div class="d-flex justify-content-center">
                    <label class="label d-flex justify-content-center pt-3">Add Admin</label>
                </div>
            </a>
        </div>
    </div>


</div>

</body>
</html>