<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subject</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <span class="shadow ">Home</span>
        </a>
    </div>
</nav>

<div class="container">
    <div class="container-sm p-5">
        <h1 class="d-flex justify-content-center">Subjects</h1>
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th>id</th>
                <th>title</th>
                <th>class</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody th:each="subject,st : ${subjects}">
            <td th:text="${subject.id}"/>
            <td th:text="${subject.title}"/>
            <td>
                <span th:each="cl : ${subject.classes}">
                    <span th:text="${cl.name}"></span> |
                </span>
            </td>
            <td>
                <a th:href="@{/subject/delete(subjectId = ${subject.id})}"
                   class="btn btn-danger btn-sm" >Delete</a>
            </td>
            </tbody>
        </table>
    </div>

<br><br><hr>
    <div class="container-fluid pt-2">
        <div class="d-flex justify-content-center">
            <a th:href="@{/addSubject}" class="btn btn-light border col-2 shadow bg-body mx-3">
                <div class="d-flex justify-content-center">
                    <label class="label d-flex justify-content-center pt-3">Add Subject</label>
                </div>
            </a>
        </div>
    </div>

</div>
</body>
</html>